.form-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 40px;
}

.form-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}





.input-container select {
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.input-container select option {
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}



.button-container{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.button-container button {
    width: 100px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}